@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 320px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__picture-info {
    display: flex;
    flex-direction: column;
  }

  .profile__picture {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }

  .profile__info {
    align-items: center;
    margin: 20px 0;
  }

  .profile__name {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
  }

  .profile__ocupation {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 10px 0;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 5px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .popup__form {
    max-width: 240px;
    height: 322px;
  }

  .popup__input {
    max-width: 215px;
  }

  .popup__button {
    max-width: 215px;
  }
}
